* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	font-size: 16.67px;
}

body {
	width: 100%;
	overflow-x: hidden;
	color: #000000;
	background: #F6F6F6;
	font: 1rem 'RobotoSlabRegular';
	line-height: 1.4;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6F6F6F;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #6F6F6F;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #6F6F6F;
}
:-moz-placeholder { /* Firefox 18- */
  color: #6F6F6F;
}

h1, 
h2,
h3,
h4,
p,
ul,
figure,
strong {
	margin: 0;
	padding: 0;
	font-weight: normal;
}


a {
	color: inherit;
	cursor: pointer;
	outline: none;
	text-decoration: none;

	&:hover {
		transition: all 0.4s;
		color: inherit;
		text-decoration: none;
	}

	&:focus {
		color: inherit;
		outline: none;
		text-decoration: none;
	}
}

input {
	&:hover {
		transition: all 0.4s;
	}
}

input[type="submit"] {
	border: none;
}

img {
	max-width: 100%;
}

h1 {
	margin: 0 0 40px;
	font: 2.25rem 'RobotoSlabBold';
}

.no-wrap {
	white-space: nowrap;
}


@mixin icon($width, $height, $posX, $posY) {
	width: $width;
	height: $height;
	background-position: $posX $posY;
}


.icon {
	display: inline-block;
}

.arrow-left,
.arrow-right {
	position: relative;
	display: block;
	width: 38px;
	height: 38px;
	border: 3px solid #FFFFFF;
	transition: all 0.4s;
	cursor: pointer;

	&::after {
		position: absolute;
		top: 7px;
		left: 10px;
		content: '';
		width: 12px;
		height: 19px;
		background: url('../img/icon-arrow.png');
	}

	&:hover {
		background: #000000;
	}
}

.arrow-right {
	transform: scale(-1, 1);
}

.arrow-container {
	position: relative;
	// height: 100%;
	// z-index: 10;
	max-width: 1200px;
	margin: 0 auto;
}

.owl-controls {
	position: absolute;
	top: 46%;
	width: 100%;
}

.owl-prev,
.owl-next {
	position: absolute;
	width: 38px;
}

.owl-prev {
	left: 1px;
}

.owl-next {
	right: 1px;
}

.owl-dots {
	display: inline-block;
}

.owl-dot {
	display: inline-block;
	margin: 0 12px 0 0;
	width: 16px;
	height: 16px;
	border: 3px solid #FFFFFF;
	cursor: pointer;

	&:last-of-type {
		margin: 0;
	}

	&.active {
		background: #FFFFFF;
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: block;
	padding: 12px;
	width: 262px;
	background: #C00606;
	color: #FFFFFF;
	border: none;
	border-bottom: 4px solid #790707;
	text-align: center;
	font-family: 'RobotoSlabBold';
	
	&::before {
		position: absolute;
	   bottom: 0;
	   left: 0;
	   width: 100%;
	   height: 100%;
	   background: darken(#C00606, 15%);
	   content: '';
	   opacity: 0;
	   transition: transform .15s ease-out,opacity .15s ease-out;
	   z-index: -1;
	   transform: scaleX(0);
	}

	&:hover {
		// background: #790707;
		// color: #FFFFFF;

		&::before {
			opacity: 1;
   		transition: transform .2s ease-in,opacity .2s ease-in;
   		transform: scaleX(1);
    	}
	}
}

form {
	padding: 20px 20px 30px;
	max-width: 365px;
	border: 1px solid #B3B3B3;
	background: rgba(246, 246, 246, 0.55);

	p {
		margin: 0 0 30px;
		text-align: center;
	}

	input[type="text"],
	input[type="tel"] {
		margin: 0 0 10px;
		padding: 7px 10px;
		background: #FFFFFF;
		border: 1px solid #B3B3B3;
		width: 150px;
		font-size: 0.75rem;
	}

	input[type="text"].error,
	input[type="tel"].error {
		border-bottom-color: #f32e2e;
		border-bottom-width: 2px;
	}

	label.error {
		display: none !important;
		// display: block;
		// margin: 0 0 5px;
		// font-size: 0.8rem;
		// color: #f32e2e;
	}

	input[type="tel"] {
		margin: 0 0 10px 18px;
	}

	button {
		font: 0.75rem 'RobotoSlabBold';
		width: 100%;
	}
}

